{% extends 'orders/base.html' %}
{% block title %}Login | TrackLog{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h2 class="mb-4 text-center">Login</h2>
                {% if form.errors %}
                <div class="alert alert-danger">
                    Usuário ou senha inválidos. Tente novamente.
                </div>
                {% endif %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Usuário</label>
                        <input type="text" name="username" autofocus required class="form-control" id="id_username">
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Senha</label>
                        <input type="password" name="password" required class="form-control" id="id_password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}